Repository rigwild/soft-skills, pull requests merged in 2020-06, with the labels that each got.

#9 Add back-end CI
  .github/workflows/back.yml
  packages/back/package.json
Labels: CI, back

#8 Upload sound/video
  .gitignore
  packages/back/package.json
  packages/back/src/config.ts
  packages/back/src/controllers/upload.controller.ts
  packages/back/src/database/controllers/User.ts
  packages/back/src/database/models/User.ts
  packages/back/src/router.ts
  packages/back/src/server.ts
  packages/back/src/types.ts
Labels: back, enhancement

#13 Analyzis support
  .github/workflows/back.yml
  .gitignore
  packages/back/README.md
  packages/back/package.json
  packages/back/requirements.txt
  packages/back/src/config.ts
  packages/back/src/controllers/analyzis.controller.ts
  packages/back/src/controllers/profile.controller.ts
  packages/back/src/controllers/upload.controller.ts
  packages/back/src/database/controllers/Analyzis.ts
  packages/back/src/database/controllers/User.ts
  packages/back/src/database/models/Analyzis.ts
  packages/back/src/database/models/User.ts
  packages/back/src/middlewares.ts
  packages/back/src/router.ts
  packages/back/src/scripts/audio_analyzis.py
  packages/back/src/scripts/runner.ts
  packages/back/src/scripts/worker.ts
  packages/back/src/types.ts
  packages/back/src/utils.ts
  packages/back/test/_NW001.mp3
  packages/back/test/_utils.ts
  packages/back/test/analyzis.test.ts
  packages/back/test/auth.test.ts
  packages/back/test/profile.test.ts
  yarn.lock
Labels: CI, back, documentation, enhancement

#12 Front upload
  packages/back/src/router.ts
  packages/front/src/api/authentication/index.ts
  packages/front/src/api/index.ts
  packages/front/src/api/profile/index.ts
  packages/front/src/api/upload/index.ts
  packages/front/src/components/layout/Layout.tsx
  packages/front/src/components/profile/ProfileForm.tsx
  packages/front/src/components/recorder/WebcamRecorder.tsx
  packages/front/src/components/success/Success.tsx
  packages/front/src/components/success/index.tsx
  packages/front/src/containers/analysis/Analysis.tsx
  packages/front/src/containers/analysis/index.tsx
  packages/front/src/containers/dashboard/Dashboard.tsx
  packages/front/src/containers/dashboard/index.tsx
  packages/front/src/containers/profile/ProfileForm.tsx
  packages/front/src/containers/recorder/WebcamRecorder.tsx
  packages/front/src/containers/recorder/index.tsx
  packages/front/src/containers/signup/SignupForm.tsx
  packages/front/src/functions/error/index.ts
  packages/front/src/index.tsx
  packages/front/src/pages/analysis/index.tsx
  packages/front/src/pages/dashboard/index.tsx
  packages/front/src/pages/record/index.tsx
Labels: enhancement, front

#19 Add interactive analysis graphs
  packages/front/package.json
  packages/front/src/components/centeredwrapper/CenteredWrapper.tsx
  packages/front/src/components/graph/LineGraph.tsx
  packages/front/src/components/graph/index.tsx
  packages/front/src/containers/analysis/Analysis.tsx
  packages/front/src/containers/dashboard/Dashboard.tsx
  yarn.lock
Labels: enhancement, front

#18 Add audio download and data timestamps
  packages/back/README.md
  packages/back/src/controllers/analyses.controller.ts
  packages/back/src/db/analyses.db.ts
  packages/back/src/db/user.db.ts
  packages/back/src/routes/analysis.routes.ts
  packages/back/src/scripts/audio_analysis.py
  packages/back/src/scripts/runner.ts
  packages/back/src/scripts/worker.ts
  packages/back/src/types.ts
  packages/back/src/utils.ts
  packages/back/test/_AUDIO.mp3
  packages/back/test/_utils.ts
  packages/back/test/analysis.test.ts
  packages/front/src/components/profile/ProfileForm.tsx
  packages/front/src/containers/analysis/Analysis.tsx
  packages/front/src/containers/dashboard/Dashboard.tsx
  packages/front/src/functions/.gitkeep
  packages/front/src/functions/date/index.ts
Labels: back, enhancement, front

#21 Front-delete-analysis
  packages/front/src/api/upload/index.ts
  packages/front/src/components/profile/ProfileForm.tsx
  packages/front/src/components/uploadcard/UploadCard.tsx
  packages/front/src/components/uploadcard/index.tsx
  packages/front/src/containers/dashboard/Dashboard.tsx
  packages/front/src/types/.gitkeep
  packages/front/src/types/dashboard/index.ts
Labels: enhancement, front

#22 front: Add homepage
  packages/front/src/components/custom/CustomComponent.test.tsx
  packages/front/src/components/custom/CustomComponent.tsx
  packages/front/src/components/custom/index.tsx
  packages/front/src/components/login/LoginForm.tsx
  packages/front/src/containers/dashboard/Dashboard.tsx
  packages/front/src/pages/home/index.tsx
Labels: enhancement, front

#23 Retry analysis
  packages/front/src/api/upload/index.ts
  packages/front/src/components/uploadcard/UploadCard.tsx
  packages/front/src/containers/dashboard/Dashboard.tsx
Labels: enhancement, front

#25 front: Log error message for uploads
  packages/front/src/containers/dashboard/Dashboard.tsx
  packages/front/src/types/dashboard/index.ts
Labels: enhancement, front

#26 Add upload name
  packages/back/package.json
  packages/back/src/controllers/analyses.controller.ts
  packages/back/src/db/analyses.db.ts
  packages/back/src/db/user.db.ts
  packages/back/src/routes/analysis.routes.ts
  packages/back/src/scripts/runner.ts
  packages/back/src/types.ts
  packages/back/test/_utils.ts
  packages/back/test/analysis.test.ts
  packages/front/src/api/upload/index.ts
  packages/front/src/components/recorder/WebcamRecorder.tsx
  packages/front/src/components/renamemodal/RenameModal.tsx
  packages/front/src/components/renamemodal/index.tsx
  packages/front/src/components/uploadcard/UploadCard.tsx
  packages/front/src/containers/analysis/Analysis.tsx
  packages/front/src/containers/dashboard/Dashboard.tsx
  packages/front/src/types/dashboard/index.ts
Labels: back, enhancement, front
