Repository rigwild/soft-skills, pull requests merged in 2020-05, with the labels that each got.

#1 back: Add database schema and authentication support
  packages/back/.env.example
  packages/back/.eslintrc.js
  packages/back/README.md
  packages/back/package.json
  packages/back/src/controllers/auth.controller.ts
  packages/back/src/database/controllers/User.ts
  packages/back/src/database/index.ts
  packages/back/src/database/models/User.ts
  packages/back/src/middlewares.ts
  packages/back/src/router.ts
  packages/back/src/server.ts
  packages/back/src/types.ts
  packages/back/src/utils.ts
  packages/back/test/auth.test.ts
  packages/back/test/test.ts
  packages/back/test/tsconfig.json
  packages/back/tsconfig.json
  packages/back/yarn.lock
  yarn.lock
Labels: back, enhancement

#6 Webcam recorder
  packages/front/package.json
  packages/front/src/components/recorder/WebcamRecorder.tsx
  packages/front/src/components/recorder/index.tsx
  packages/front/src/pages/record/index.tsx
  yarn.lock
Labels: enhancement, front

#5 Replace username with email and add Mongodb tests in-memory setup
  packages/back/package.json
  packages/back/src/controllers/auth.controller.ts
  packages/back/src/database/controllers/User.ts
  packages/back/src/database/models/User.ts
  packages/back/src/middlewares.ts
  packages/back/src/router.ts
  packages/back/src/types.ts
  packages/back/test/_utils.ts
  packages/back/test/auth.test.ts
  yarn.lock
Labels: back

#7 Navigation
  packages/front/src/components/layout/Layout.test.tsx
  packages/front/src/components/layout/Layout.tsx
  packages/front/src/components/route/PrivateRoute.tsx
  packages/front/src/components/route/index.tsx
  packages/front/src/index.tsx
  packages/front/src/pages/nomatch/index.tsx
Labels: enhancement, front

#3 Login/Register forms
  packages/back/package.json
  packages/back/src/server.ts
  packages/front/README.md
  packages/front/src/api/.gitkeep
  packages/front/src/api/authentication/index.ts
  packages/front/src/api/index.ts
  packages/front/src/components/custom/CustomComponent.test.tsx
  packages/front/src/components/layout/Layout.tsx
  packages/front/src/components/login/LoginForm.tsx
  packages/front/src/components/login/index.tsx
  packages/front/src/components/signup/SignupForm.tsx
  packages/front/src/components/signup/index.tsx
  packages/front/src/containers/.gitkeep
  packages/front/src/containers/login/LoginForm.tsx
  packages/front/src/containers/login/index.tsx
  packages/front/src/containers/signup/SignupForm.tsx
  packages/front/src/containers/signup/index.tsx
  packages/front/src/index.tsx
  packages/front/src/pages/login/index.tsx
  packages/front/src/pages/signup/index.tsx
  yarn.lock
Labels: front

#10 User profile
  packages/back/.eslintrc.js
  packages/back/src/controllers/auth.controller.ts
  packages/back/src/controllers/ping.controller.ts
  packages/back/src/controllers/profile.controller.ts
  packages/back/src/database/controllers/User.ts
  packages/back/src/router.ts
  packages/back/src/types.ts
  packages/back/test/_utils.ts
  packages/back/test/auth.test.ts
  packages/back/test/profile.test.ts
Labels: back, enhancement
